<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Id: </mat-label>
    <input type="text" formControlName="id" matInput readonly />
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field class="editableData">
    <mat-label>Title: </mat-label>
    <input type="text" formControlName="title" matInput #titleData />
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field class="editableData">
    <mat-label>Body: </mat-label>
    <input type="text" formControlName="body" matInput #bodyData />
  </mat-form-field>

  <button type="submit" mat-raised-button>Apply changes</button>
  <button type="button" mat-raised-button (click)="revertChanges()">
    Clear changes
  </button>
</form>
